# Node modules
/node_modules

# Compilation output
/dist

# pnpm deploy output
/bundle

# Hardhat Build Artifacts
/artifacts

# Hardhat compilation (v2) support directory
/cache

# Typechain output
/types

# Hardhat coverage reports
/coverage

/examples/**/node_modules
/examples/**/dist

/typechain-types
/.nyc_output

*.tgz

/.vscode