.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999; /* Ensure the popup has the highest z-index */
}

.modal-content {
  background: white;
  padding: 20px;
  border-radius: 8px;
  width: 80%;
  max-width: 500px;
  max-height: 70vh; /* Set maximum height */
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  overflow-y: auto; /* Enable internal scroll if content is larger */
}
.modal-content p {
  text-align: left;
}
.icon-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px; /* Optional: Add space between icons */
}

.icon {
  width: 50px;
  height: 50px;
}
.modal-content h2 {
  margin-top: 0;
}

.modal-content button {
  margin-top: 20px;
  padding: 10px 20px;
  background: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  height: 50px;
  width: 30%;
}

.modal-content button:hover {
  background: #0056b3;
}
